/***************************************************/
/******nuevo menu********/
#capaMenu:after{ display:block; clear:both; content:"";}
#capaMenu {margin:50px 0 0 0; padding:0; background:#282828; position:absolute; top:0; left:0; width:100%;}

ul#nav:after{ display:block; clear:both; content:"";}
ul#nav {margin:0 0 0 35px; padding:0; list-style:none;}
ul#nav li {display:inline-block; padding:5px 10px; float:left; font-size:12px; position:relative; z-index:5;}
ul#nav li:hover { background:#282828 url(/dmcrm/APP/imagenes/topnav_hover.gif) no-repeat top center; color:#fff!important;}
ul#nav li.activo { background:#555!important;}
ul#nav li a {padding:0; margin:0 15px 0 0; text-decoration:none; color:#fff;}
ul#nav li a:hover {text-decoration:none;}


ul#nav li ul.submenu:after{ display:block; clear:both; content:"";}
ul#nav li ul.submenu {position:absolute; left:0; top:27px; z-index:6; background:none; border:none; width:150px;}
ul#nav li ul.submenu li {display:block; clear:both; background:#000; font-size:12px; padding:0; width:150px;}
ul#nav li ul.submenu li.linea { height:3px; background:#ff6600;}
ul#nav li ul.submenu li a { display:block; width:125px; border-bottom:solid 1px #555; padding:8px 5px 5px 20px; margin:0 0 1px 0; line-height:14px; color:#f1f1f1; background: url(/dmcrm/APP/imagenes/flecha.gif) no-repeat 10px 10px!important;}
ul#nav li ul.submenu li a:hover, ul#nav li ul.submenu li.activo {background:#717171 url(/dmcrm/APP/imagenes/flecha.gif) no-repeat 10px 10px!important; text-decoration:none;}








