body{margin:0 0 80px 0;padding:0;font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:11px;}
a{outline: none; cursor:pointer;}
img { border:none;}

.loquinCMR {background: url(/dmcrm/app/imagenes/fondo.gif);}

*:focus{outline:none;}
#capacentro{text-align:center; width:475px; height:320px; margin-right: auto; margin-left: auto; }
#capacentro_comercios{text-align:center; width:475px; height:320px; margin-right: auto; margin-left: auto; }
.capacentro2{margin-left:auto; margin-right:auto; margin-top:8em; /*width:518px; height:339px;*/ padding: 15px; background: url(/dmcrm/APP/imagenes/fondo-acceso.png);  background-repeat: no-repeat!important;
position:relative;
 width:475px; height:320px
}
.capacentro2_comercios{margin-left:auto; margin-right:auto; margin-top:8em; /*width:518px; height:339px;*/ padding: 15px; background: url(/dmcrm/APP/imagenes/fondo-acceso.png);  background-repeat: no-repeat!important;
position:relative;
 width:475px; height:320px
}
.logoI { position:absolute; top:40px; left:40px;}
.logoH {position:absolute; top:/*10px*/3px; left:20px;}
.c_texto {padding:65px 30px 20px 0; text-align:right;}
.c_texto_comercios {padding:65px 30px 20px 0; text-align:right;}
.tituloLogin{font-family:arial;font-size:26px;color:#FF6600}
.errorLogin{ position:absolute; left:85px; bottom:225px; font-size:12px; color:#e3001b; padding:5px 10px; font-family:Helvetica;}
.pLogin{color: #595959; font-weight: normal; text-decoration: none}
.pLogin_comercios{color: #595959; font-weight: normal; text-decoration: none}
.capacentro3{margin: 0 auto; /*margin-top:60px;*/ margin-top:25px; width:370px; padding: 10px;}
.capacentro3_comercios{margin: 0 auto; /*margin-top:60px;*/ margin-top:25px; width:370px; padding: 10px;}
.c_izquerda{
	float:left;
	width: 100px;
	padding-right: 10px;
	padding-top: 5px;
	text-align:right;
	color:#595959;
	font-size:12px;
	font-family: helvetica;
}
.c_derecha{ clear:right; text-align:left; color:#595959;font-size:12px;}
.c_derecha input{ color:#555; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:12px;}
.cajaHome{width: 200px; margin: 0 0 1em 0; border: solid 1px  #cccccc; font-size: 10px; font-family: verd; height:20px}
.cajaHomeActiva{width: 200px; margin: 0 0 1em 0; border: solid 1px  #aaaaaa; font-size: 10px; font-family: verdana; height:20px}
.titulo{font-weight:bold;font-size:1.2em;margin-left:15px;color: #e5001d;}
.subTitulo{display:block;margin:5px 0 10px 0;color: #e5001d; width:910px; border-bottom:1px solid #C03; font-size:1.1em}
label.error{background-color:#fff!important;color:#C00;width:300px!important; font-weight:bold; text-align:left!important;margin:5px 0 0 165px!important;}
.superior{vertical-align:top;}
.button_150,.button_150:hover{ 
	font-size: 12px; 
	color: #595959; 
	background-image:url(/dmcrm/APP/imagenes/fondo_boton_intranet_150.gif); 
	width: 150px; 
	height: 22px; 
	border:0px;
	font-family:helvetica;
}
.button_150:hover{
	background-image:url(/dmcrm/APP/imagenes/fondo_boton_intranet_150_hover.gif); 
}

/*recordar*/
#resultado {text-align:center;}
.recorContra {cursor:pointer; margin:10px 130px 0 0;}
.recorContra2, .recorContra3 {cursor:pointer;}
.recorContra:hover, .recorContra2:hover { background:#f1f1f1;}
#formularioRecordar { width:300px; background:#fff; margin:0 auto;
position:absolute; top:110px; left:100px; padding:20px 0; border: dotted 2px #eee; text-align:center;}
#formularioRecordar #RecordarEmail {font-family:arial; font-size:12px;}
#formularioRecordar #Recordar {font-size:11px;}
.rojoT { color:#f00;}
/*recordar*/


#precarga{width:100%;text-align: center; padding-top:10%;}
#contenedora{background-image: url(/dmcrm/APP/imagenes/fondoAdministracion.jpg); background-repeat:repeat-x;}
#centrada{margin:0 auto;width:98%; padding-left:1%; padding-right:1%;background:url(/dmcrm/APP/imagenes/centrada-DMFideliza.jpg) repeat-x; }
#centrada_comercios{margin:0 auto;width:98%; padding-left:1%; padding-right:1%;background:url(/dmcrm/APP/imagenes/centrada_comercios.jpg) repeat-x; }
#cabecera_dmcrm
{
	width:960px;/*100%;*/
	height:59px;
	background-image: url(/dmcrm/APP/imagenes/cabecera_DMcrm.jpg);
	margin-left:-30px!important;	
}
#cabecera_dmfideliza
{
	width:960px;/*100%;*/
	height:59px; 
	background-image: url(/dmcrm/APP/imagenes/cabecera-DMFideliza.jpg);
	margin-left:-30px!important;
}
#cabecera_comercios
{
	width:960px;/*100%;*/
	height:59px;
	background-image: url(/dmcrm/APP/imagenes/cabecera-comercios.jpg);
	margin-left:-30px;
}
.logoH {max-width:120px;position:absolute; margin-top:3px; margin-left:-10px;}
/*.logoH {position:absolute; top:-6px; left:20px;}*/
.idiomasCab {position:absolute; top:0px; right:250px; padding:1px 15px; background:#f6f6f6;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
.idiomasCab a { color:#ff6600; text-decoration:none;}
.idiomasCab a:hover { color:#ff6600; text-decoration:underline;}

.idiomasCab_comercios {position:absolute; top:0px; right:250px; padding:1px 15px; background:#f6f6f6;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
.idiomasCab_comercios a { color:#598cff; text-decoration:none;}
.idiomasCab_comercios a:hover { color:#598cff; text-decoration:underline;}


.idiomasCabH {position:absolute; top:25px; right:60px;}
.idiomasCabH a { color:#ff6600; text-decoration:none;}
.idiomasCabH a:hover { color:#ff6600; text-decoration:underline;}
.idiomasCabH_comercios {position:absolute; top:25px; right:60px;}
.idiomasCabH_comercios a { color:#ff6600; text-decoration:none;}
.idiomasCabH_comercios a:hover { color:#ff6600; text-decoration:underline;}

/*Cabecera de tareas pendientes*/
.pendientesCab {position:absolute; top:0px; right:450px; padding:5px 15px; background:#ff6600;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
color:#f6f6f6; font-weight:bold;
width:200px; /*width:250px;*/ letter-spacing:0.5;
/* text-decoration:blink;*/ text-align:center; /*z-index:100*/;
}
.pendientesCab:hover { background:#E85C00; cursor:pointer;  color:#CECECE; }
.numTareasPendientes { font-size:15px;}

.pendientesCabMensajes {position:absolute; top:0px; right:430px; /*padding:5px 15px;*/ background:#f6f6f6;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
color:#ff6600; font-weight:bold; 
width:290px; letter-spacing:0.5;
/*height:300px;*/ z-index:999;
border:solid 1px #CDCDCD; z-index:100;
}

.enlCerrarMensajes { position:absolute; bottom:0; color:#A3A3A3; width:100%; text-align:center; 
margin:10px 0 0 0; border-top:solid 3px #A3A3A3; padding:0; cursor:pointer; 
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
.enlCerrarMensajes:hover { background:#A3A3A3; color:#f6f6f6;
}

.titMensajesNoti { background:#DFDFDF; color:#ff6600; width:100%; text-align:center; padding:0; text-align:center;
font-size:13px; font-weight:bold; padding:6px 0 6px 0; border-bottom:solid 2px #ff6600;   }

.capaCadaNotificacion { float:left;  margin:0; padding:10px 5px 10px 5px; font-weight:normal; width:280px;
border-bottom:dashed 1px #A3A3A3; color:#282828; text-decoration:none; }
.capaCadaNotificacion:hover { background:#A3A3A3; cursor:pointer; color:white;}

.separaNotificacion { float:left;  margin:0;  font-weight:normal; width:220px; }

.numAccionesTareaNoti { font-size:15px;}

.capaTaparNotificaciones {z-index:99; position:absolute; top:0; left:0; margin:0; padding:0; width:100%; height:100%; background:#646464;
filter:alpha(opacity=60);-moz-opacity:.60;opacity:.60}
/*Fin cabecera pendientes*/



#menuPrincipal
{
	margin:0px 0 0 15px;
	padding:0;
	width: 965px;
	height:37px;
	list-style-type:none;
}

#menuPrincipal li
{
	float:left;
	margin: 0 7px 0 0;
	padding:0;
	background: transparent url(/dmcrm/APP/imagenes/menuPrincipal_li.jpg) 0 0 no-repeat;
}

#menuPrincipal li a
{
	display: block;
	padding: 10px;
	margin: 0;
	background: transparent url(/dmcrm/APP/imagenes/menuPrincipal_a.jpg) right 0 no-repeat;
	color: #015B9F;
	text-decoration: none;
	font-weight: bold;
}

#menuPrincipal li.seleccionado 
{
	background: transparent url(/dmcrm/APP/imagenes/menuPrincipal_sel_li.jpg) 0 0 no-repeat;
}

#menuPrincipal li.seleccionado a 
{
	color: #FFF;
	background: transparent url(/dmcrm/APP/imagenes/menuPrincipal_sel_a.jpg) right 0 no-repeat;
}

.submenu
{
	display: none;
	height:37px;
	background-color: #999999;
	width: 100%;
	list-style-type:none;
	margin: -1px 0 0 0;
	*margin: -2px 0 0 0;
	padding:0;
	border-left: 1px solid #878787;
	border-right: 1px solid #878787;
	border-bottom: 1px solid #878787;
}

.submenu li
{
	float:left;
	margin: 0;
	line-height: 1.6em;
	padding: .4em 0 1em 0;
}

.submenu li a
{
	color: #FFF;
	padding: 6px 10px 0 18px;
	float: left;
	text-decoration: none;
	background: url(/dmcrm/APP/imagenes/detallesubmenu.png) 0 11px no-repeat;
}

.submenu li a.primero 
{
	background-image:none;
}

.submenu li a:hover 
{
	text-decoration: underline;
}

.submenu li.seleccionado a {
	font-weight:bold;
}

.submenu li.seleccionado a:hover 
{
	text-decoration: none;
	cursor: default;
}

#cerrar{width:290px; min-height:165px; background:url(/dmcrm/APP/imagenes/fondoCerrar.gif) top left; padding:10px 10px 10px 10px; text-align:center;}
#cerrar .espacio{ margin:60px 0 30px 0; font-size:14px;}
.cerrarBotones a{ background:url(/dmcrm/APP/imagenes/botonCerrar.gif) top left; font-size:11px; padding:3px 0 0 0; width:60px; height:19px; text-align:center; display:inline-block; text-decoration:none; color:#555;}
.cerrarBotones a:hover{ background:url(/dmcrm/APP/imagenes/botonCerrar2.gif) top left; text-decoration:none; color:#555;}
.contenidoSeccion{ padding:0px; margin:0px;/*margin-top:5px;*/}

/*OPCIONES*/

.resultadoImportacion
{
	background-color:#0C0;
	color: #FFF;
	text-align:center; 
	padding:3px 0;
	clear:both;
	display:none;
}

#resultadoActualizacion
{
	background-color:#0C0;
	color: #FFF;
	padding:2px 0;
	width:400px;
	text-align:center;
	font-weight: bold;
}


.bloqueSeleccion
{
	 position:relative; z-index:0;
}

#capaOpciones
{
    /*position:relative;*/
    margin:0;/*30px 0 50px 0;*/
	/*z-index:20;*/
	position:absolute; top:0; left:0; z-index:1;
}

#seleccionarTodos
{
	font-size:1.1em;
	float:left;
	padding:0 0 5px 10px;
	width:200px;
   	position:absolute;
    top:0px;
    left:0px;
}

#anadirYBorrar
{
	float:left;
	background-repeat:no-repeat;
	background-position:bottom;
	font-size:1.1em;
	padding:0 10px 5px 0;
	position:absolute;       
    left:220px;
}

#exportacion
{
	float:left;
	background-repeat:no-repeat;
	background-position:bottom;
	font-size:1.1em;
	padding:0 10px 5px 0;
	position:absolute;       
    left:380px;
}


#seleccionar, #deseleccionar, #anadirRegistro, #borrarSeleccionados, #anularSeleccionados, #exportarExcel, #anadirRegistroManual, #generarCampanaMarqueting, #generarCampanaMailing, #generarCampanaSMS, #cerrarCampanas, #buscarDuplicados, #verFiltrosAplicados, #sociosEnviarTarjetasSeleccionados,#sociosEnviarMailsSeleccionados,#pedidosConsultaNOPagados,#sociosEnviarTarjetasTodos,#sociosEnviarMailsTodos,#btnCanjesEnviarPedido,#sociosActualizarBajas,#btnEnviarPedidos,#btnRecibirPedidos,#btnNotificarPedidos,#btnFraudePoner, #btnFraudeQuitar, #liquidarTransacciones, #liquidarTransModif, #verLiquiMensuales, #pedidosConsultaNOValorados, #generarFicheroCorreos, #btoExportarCostes
{
	background-repeat: no-repeat;
	height:24px;
	display:block;
	padding:5px 0 0 30px;
	text-decoration:none;
	color: #333333;
	font-size:.8em;
}

#anadirImagen, #anadirIncidencia
{
	background-repeat: no-repeat;
	height:24px;
	display:block;
	padding:3px 0 0 30px;
	text-decoration:none;
	color: #333333;
}

#seleccionar {
	background-image: url(/dmcrm/APP/imagenes/sel.gif);
}

#deseleccionar {
	background-image: url(/dmcrm/APP/imagenes/desel.gif);
}

#anadirRegistro, #anadirImagen, #anadirIncidencia,#anadirRegistroManual {
	background-image: url(/dmcrm/APP/imagenes/anadir.gif);
}

#borrarSeleccionados {
	background-image: url(/dmcrm/APP/imagenes/delete.gif);
}

#anularSeleccionados {
	background-image: url(/dmcrm/APP/imagenes/delete.gif);
}

#cerrarCampanas {
	background-image: url(/dmcrm/APP/comun2/imagenes/cierre-campana.png);
}

#generarCampanaMarqueting{
		background-image: url(/dmcrm/APP/comun2/imagenes/anadirACampana.png);		
}

#generarCampanaMailing {
		background-image: url(/dmcrm/APP/comun2/imagenes/campannasMailing.png);				
}

#generarCampanaSMS {
		background-image: url(/dmcrm/APP/comun2/imagenes/campannasSMS.png);				
}

#buscarDuplicados {
		background-image: url(/dmcrm/APP/comun2/imagenes/BuscarDuplicados.png);					
}

#verFiltrosAplicados {
		background-image: url(/dmcrm/APP/comun2/imagenes/BuscarDuplicados.png);					
}

#sociosEnviarTarjetasSeleccionados {
		background-image: url(/dmcrm/APP/comun2/imagenes/SociosEnviarTarjetas.png);					
}

#sociosEnviarMailsSeleccionados {
		background-image: url(/dmcrm/APP/comun2/imagenes/SociosEnviarEMails.png);					
}

#pedidosConsultaNOPagados, #pedidosConsultaNOValorados {
		background-image: url(/dmcrm/APP/comun2/imagenes/SociosEnviarEMails.png);					
}

#generarFicheroCorreos { background-image: url(/dmcrm/APP/comun2/imagenes/generarFicheroCorreos.png) }

#btoExportarCostes { background-image: url(/dmcrm/APP/comun2/imagenes/btoExportarExcel.png) }

#sociosEnviarTarjetasTodos {
		background-image: url(/dmcrm/APP/comun2/imagenes/SociosEnviarTarjetas.png);					
}

#sociosEnviarMailsTodos {
			background-image: url(/dmcrm/APP/comun2/imagenes/SociosEnviarEMails.png);					
}

#btnCanjesEnviarPedido {
			background-image: url(/dmcrm/APP/comun2/imagenes/SociosEnviarEMails.png);					
}

#sociosActualizarBajas {
			background-image: url(/dmcrm/APP/comun2/imagenes/SociosActualizarBajas.png);					
}


#exportarExcel{
	background-image: url(/dmcrm/APP/imagenes/iconoexcel.png);
}

#btnEnviarPedidos {
		background-image: url(/dmcrm/APP/comun2/imagenes/enviarPedidos.png);				
}
#btnRecibirPedidos {
		background-image: url(/dmcrm/APP/comun2/imagenes/entregarPedidos.png);				
}

#btnNotificarPedidos {
		background-image: url(/dmcrm/APP/comun2/imagenes/SociosEnviarEMails.png);			
}

#btnFraudePoner {
		background-image: url(/dmcrm/APP/comun2/imagenes/PonerComoFraude.png);			
}

#btnFraudeQuitar {
		background-image: url(/dmcrm/APP/comun2/imagenes/QuitarComoFraude.png);			
}


#liquidarTransacciones {
	background-image: url(/dmcrm/APP/comun2/imagenes/cierre-campana.png);
}

#liquidarTransModif {
	background-image: url(/dmcrm/APP/comun2/imagenes/cierre-campana.png);
}

#verLiquiMensuales {
		background-image: url(/dmcrm/APP/comun2/imagenes/BuscarDuplicados.png);					
}


#seleccionar:hover,#deseleccionar:hover,#anadirRegistro:hover,#anadirRegistroManual:hover, #anadirImagen:hover, #anadirIncidencia:hover,#borrarSeleccionados:hover,#anularSeleccionados:hover,#exportarExcel:hover,#generarCampanaMarqueting:hover,#generarCampanaMailing:hover,#generarCampanaSMS:hover,#cerrarCampanas:hover,#buscarDuplicados:hover,#verFiltrosAplicados:hover,#sociosEnviarTarjetasSeleccionados:hover,#sociosEnviarMailsSeleccionados:hover,#pedidosConsultaNOPagados:hover,#sociosEnviarTarjetasTodos:hover,#sociosEnviarMailsTodos:hover,#btnCanjesEnviarPedido:hover,#sociosActualizarBajas:hover,#btnEnviarPedidos:hover,#btnRecibirPedidos:hover,#btnNotificarPedidos:hover, #btnFraudePoner:hover, #btnFraudeQuitar:hover, #liquidarTransacciones:hover, #liquidarTransModif:hover, #verLiquiMensuales:hover, pedidosConsultaNOValorados:hover {
	filter: alpha(opacity=70);
	opacity: .7;
}

.anadir
{
	margin: 1.5em 0;
	padding:0;
}

.anadir fieldset {
	border:0;
}

.anadir fieldset legend {
	display: none;
}

#frmIzquierda, #frmDerecha
{
	float:left;
	width:50%;
}

.capaAnadir
{
	margin:10px 0;
	padding:20px 0;
	border: 1px solid #dadada;
	min-height:1px;
	float:left;
	clear:both;
	display:block;
	width:100%;
}

.capaImportar
{
	margin:10px 0;
	padding:20px 30px 20px 30px;
	border: 1px solid #dadada;
	min-height:1px;
	float:left;
	clear:both;
	display:block;
	width:915px;
}

.capaRemesa
{
	margin:10px 0;
	padding:20px 30px 20px 30px;
	min-height:1px;
	float:left;
	clear:both;
	display:block;
	width:915px;
}

.capaAnadir label
{
	display:inline-block;
	width:130px;
	text-align:right;
	margin:0 5px 0 20px;
	background-color: #f6f6f6;
	padding:3px 3px 3px 0;
}

.opcionesProveedores
{
    margin:15px 0;	
	float:left;
}

.opcionesProveedores a
{
    color:#333333;
    float:left;
    margin:0 15px 5px 10px;
	text-decoration:none;
}

.opcionesProveedores a:hover
{
    filter: alpha(opacity=70);
    opacity: .7;
}

.opcionesProveedores img
{
   float:left;
   margin:0 5px 0 0;
   border:none;
}

.opcionesEstados
{
	float:right;
	margin:15px 15px 15px 0;
	color:#333333;	
}

.opcionesEstados span, .opcionesEstados select{margin-right:10px}

.opcionesEstados a{background-color:#EEE; padding:2px 10px;} 

.capaAnadir span
{
	padding:3px 0;
	display:inline-block;
}

.capaAnadir input
{
	width: 250px;
}
.capaAsociar
{
	margin:10px 30px 15px 30px;
}

.asociados
{
	margin:5px;
	width:280px;
	float:left;
}

.asociados img
{
	float:left;
	margin:0 5px -2px 5px;
	cursor: pointer;
}

.asociados span
{
   vertical-align:middle;
   padding-top:9px;
}
/*FILTROS*/
.filtro {
	margin: 1.5em 0;
	margin-top:0px;
	padding: 0;
	background: #F1F3F3 url(/dmcrm/APP/imagenes/form.gif) 0 0 no-repeat;
	clear:both;
	width:100%;
	height:20px;

}
.filtro fieldset {
	border: none;
	margin: 0;
	padding: 1.6em 1em 0.6em 1em;
	background: transparent url(/dmcrm/APP/imagenes/filedset.gif) right 0 no-repeat;
}
.filtro fieldset legend {
	display: none;
}
.filtro .leyenda {
	float: left;
	width: 5em;
	padding: .2em 0 2em 0;
	font-weight: bold;
}
.filtro .capaFiltrado {
	margin: 0 0 1em 5em;
	}
.filtro select, .filtro label {
	vertical-align: middle;
}
.filtro label {
	padding: 0 0 0 .5em;
	cursor: pointer;
	display:inline-block;
	width:100px;
	text-align:right;
	margin-right:10px;
}
.filtro input {
	vertical-align: middle;
	width:142px;
}
.filtro select {
	margin: 0 0 0 0;
	width:148px;
}
.filtro .label_radio {
	padding: 0 .5em 0 0;
}

.botonFiltrar {
	float: right;
    background: #CF8E00 url(/dmcrm/APP/imagenes/boton01.gif) 0 0 no-repeat;
    display: block;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
   /* margin: -10px 0 0 0;*/
	 cursor:pointer;
	 margin-left:10px;
}

.botonera
{
	position:relative;
	text-align:right;
	width:40%; margin-right:2%;
	float:right; clear:both;
}

.botonFiltrar:hover {
    background-image: url(/dmcrm/APP/imagenes/boton01-over.gif);
    background-color: #885033;
	color: #FFFFFF;
}

.botonFiltrar span {
    display: block;
    background-image: url(/dmcrm/APP/imagenes/boton01-bds.gif);
    background-position: top right;
    background-repeat: no-repeat;
}

.botonFiltrar span span {
    background-image: url(/dmcrm/APP/imagenes/boton01-bdi.gif);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.botonFiltrar span span span {
    background-image: url(/dmcrm/APP/imagenes/boton01-bii.gif);
    background-position: bottom left;
    background-repeat: no-repeat;
}

.botonFiltrar span span span span {
    padding: .2em .3em ;
    background-image: url(/dmcrm/APP/imagenes/boton01-bis.gif);
    background-position: left top;
    background-repeat: no-repeat;
}

.botonFiltrar span span span span input {
	border: none;
	background-color: transparent;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
}

.botonFiltrar span span span span a {
	border: none;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
	height:17px;
	*height:18px;
	width:75px;
	display:block;
	text-decoration:none;
	font-size:1.1em;
	padding-top:2px;
}

.anadirProducto
{
	margin:15px 22px;
}

#imagenes
{
	margin-top: 20px;
}

/*Listado Imagenes*/
#listadoImagenes
{
	list-style-type: none;
	margin:0;
	padding:0;
}

#listadoImagenes li
{
	border: 1px solid #dadada;
	margin: 10px 0 10px 12px;
	width:460px;
	*width: 470px;
	float: left;
}

.imagenesSup 
{
	padding-top:10px;
}

.imagenesSup img
{
	float: left;
	margin: 0 10px 10px 10px;
	width: 124px;
    height: 91px;
}

.imagenesSup label
{
	width:80px;
	margin-left:0;
}

.imagenesOpciones
{
	clear:both;
	margin-top:4px;
	padding:0 0 4px 0;
}

.modificarImagen, .guardarCambios, .borrarImagen
{
	background-repeat: no-repeat;
	height:24px;
	display:inline-block;
	padding:5px 0 0 30px;
	margin-left:15px;
	text-decoration:none;
	color: #333333;
	cursor: pointer;
}

.modificarImagen:hover, .guardarCambios:hover, .borrarImagen:hover
{
	text-decoration: underline;
}

.modificarImagen {
	background-image: url(/dmcrm/APP/imagenes/modificarImagen.png);
}

.modificarImagen:hover {
	background-image: url(/dmcrm/APP/imagenes/modificarImagen.png);
}

.guardarCambios {
	background-image: url(/dmcrm/APP/imagenes/guardar.png);
}

.guardarCambios:hover {
	background-image: url(/dmcrm/APP/imagenes/guardar.png)
}

.borrarImagen {
	background-image: url(/dmcrm/APP/imagenes/delete.gif);
}

.borrarImagen:hover {
	background-image: url(/dmcrm/APP/imagenes/delete_over.gif);
}

.ampliaImagen img
{
	border:1px solid #dadada;
}

.resModificacion
{
    display:block;
    width:50%;
    margin-left:60px;
    color:#009900;
}

/*FIN Listado Imagenes*/

/*contenido principal*/
#HGrafico{ float:left;}

.HUltimosPedidos{ 
	border:solid 1px #cdcdcd;
	margin:15px 0 0 0;
	padding:15px;
	font-size:11px;
}
.ultimaActualizacion{margin:15px 0;}
.HUltimosPedidos h2, .HUltimosPedidos h3, .iconH h2{
	padding:0;
	margin:0;
	color:#e3001b;
	font-size:15px;
}

.HUltimosPedidos .b2 {border-bottom:1px solid #e3001b;margin:15px 0}

.HUltimosPedidos h3{font-size:12px;margin-bottom:5px;}
.HUltimosPedidos a img{border:none;}

.resumenEstadoPedidos{margin-bottom:15px;}
.bloqueCompleto{font-weight:bold;margin-bottom:15px;display:inline-block;}
.bcTit{background-color:#e3001b;color:#FFF;padding:5px 10px;display:inline-block;margin:0;width:200px}
.bcRes{background-color:#f4f4f4;padding:5px 0px;display:inline-block;margin:-4px;margin-right:10px;width:80px;text-align:center;text-decoration:none;color:#000;}

.iconH a{text-decoration:none}
.iconH img{border:none}
.iconH p{height:90px}
#HGrafico{ float:left; margin-right:30px;}
.HUltimosCab{ background:#e3001b; color:#FFF}
.par{ background:#f4f4f4;}
.rojo{ color:#e3001b; font-weight:bold; font-size:10px;}

.iconH{ width:294px; padding:10px; border:solid 1px #cdcdcd; margin:16px 16px 0 0; float:left;}
.iconH p{ margin:0; padding:0;}
#icon3{ margin-right:0;}
.iconH img{ float:left; margin:0 10px 40px 0;}


/*Tablas datos*/
.cabecerilla{ background:#999999; color:#FFF; font-weight:bold;}
.titulillos td{ background:#efefef; text-align:left; font-weight:bold;}
.titulillos td label{ text-align:left; padding:0; margin:0; background:none; width:100%;}
.datillos td{ font-size:11px; border:solid 1px #efefef;}

.datillos td a{text-decoration:none;color:#000000;}
.datillos td a:hover{text-decoration:underline}

.btoAvisosOK{color:#328e16!important;}
.btoAvisosKO{color:#E5001D!important;}
#estadoAvisoSMS{width:140px;}

#textoActualizacion{font-size:2em; font-weight:bold;}


/*Quitar outline a los botones*/
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: none;
}



/*-----------------------------------------------------------*/
/*Estilos opciones de la tabla*/
#capaOpciones ul{margin:0; padding:0; /*720px*/}
.separador{clear:both; display:block}
#capaOpciones ul:after{content:'';clear:both;height:1px; display:block;}
#capaOpciones ul li{float:left; margin:0 0px; /*margin:0 15px;*/ display: inline-block;}
#capaOpciones ul li img{/*margin:-4px 5px 0 0;*/ margin:0; float:left;}
#capaOpciones li a{
	background-repeat: no-repeat;
	height:24px;
	display:inline-block;
	/*padding:5px 0 0 30px;*/ padding:0;
	text-decoration:none;
	color: #333333;
	font-size:11px;
	cursor:pointer;
	font-weight:normal;
}

#seleccionar{background-image: url(/dmcrm/APP/comun2/imagenes/sel.gif); width:40px;}
#deseleccionar{background-image: url(/dmcrm/APP/comun2/imagenes/desel.gif); width:40px;}
#anadirRegistro{background-image: url(/dmcrm/APP/comun2/imagenes/anadir.gif); width:40px;}
#borrarSeleccionados{background-image: url(/dmcrm/APP/comun2/imagenes/delete.gif); width:40px;}
#anularSeleccionados{background-image: url(/dmcrm/APP/comun2/imagenes/delete.gif); width:40px;}
#ayuda{background-image: url(/dmcrm/APP/comun2/imagenes/ayuda.png); width:40px;}
#buscador{background-image: url(/dmcrm/APP/comun2/imagenes/buscar.png); width:40px;}
#quitarFiltro{background-image: url(/dmcrm/APP/comun2/imagenes/buscarQuitar.png); width:40px;}
#exportarExcel{background-image: url(/dmcrm/APP/comun2/imagenes/iconoexcel.png); width:40px;}
#exportarExcelVI{background-image: url(/dmcrm/APP/comun2/imagenes/iconoexcel2.png); width:40px;}
#importar{background-image: url(/dmcrm/APP/comun2/imagenes/iconoimportar.png); width:40px;}

#seleccionar:hover{background-image: url(/dmcrm/APP/comun2/imagenes/sel-hover.gif)}
#deseleccionar:hover{background-image: url(/dmcrm/APP/comun2/imagenes/desel-hover.gif)}
#anadirRegistro:hover{background-image: url(/dmcrm/APP/comun2/imagenes/anadir-hover.gif)}
#borrarSeleccionados:hover{background-image: url(/dmcrm/APP/comun2/imagenes/delete-hover.gif)}
#anularSeleccionados:hover{background-image: url(/dmcrm/APP/comun2/imagenes/delete-hover.gif)}
#ayuda:hover{background-image: url(/dmcrm/APP/comun2/imagenes/ayuda-hover.png)}
#buscador:hover{background-image: url(/dmcrm/APP/comun2/imagenes/buscar-hover.png)}
#quitarFiltro:hover{background-image: url(/dmcrm/APP/comun2/imagenes/buscarQuitar-hover.png); width:40px;}
#exportarExcel:hover{background-image: url(/dmcrm/APP/comun2/imagenes/iconoexcel-hover.png)}
#exportarExcelVI:hover{background-image: url(/dmcrm/APP/comun2/imagenes/iconoexcel2-hover.png)}
#importar:hover{background-image: url(/dmcrm/APP/comun2/imagenes/iconoimportar-hover.png)}

#capaVerFiltros { position:absolute; width:250px; min-height:120px; border:dashed 1px #808080; background-color:#F1F1F1; display:none; text-align:left; padding:5px 10px 5px 10px; }
.tituloBloqueFiltros {font-weight:bold; color:#FF6600; float:left; margin-top:5px; margin-left:5px;}
.bloqueFiltrosAplicados {float:left; margin:0 0 0 0; padding:0; clear:both;}
.cadaFiltroAplicado { white-space:nowrap; margin:0; padding:0; float:left; clear:both;}

.tdOpciones {  width:145px; text-align:center;  }
/*.tdOpciones img { float:left;}
.tdOpciones a { float:right;}*/

#capaOpciones a:hover span, .tdOpciones a:hover img{
	filter: alpha(opacity=70);
	opacity: .7;
	font-weight:normal;
}


/*Ventana de ayuda*/
#dlAyuda{margin:10px 25px;}
#dlAyuda dd{font-weight:bold; margin:10px 0 5px 0; padding:0;}
/*----------------------------------------------------------------------------------------------------------------------*/



/*Estilos de los mantenimientos:*/
.filaTabla
{
	float:left; width:100%; margin-bottom:5px;
}
.bloqueColumna { display:inline-block; float:left; /*margin-bottom:5px;*/ height:25px;  }
.columnaTablaIzquierda
{
	float:left; text-align:left; /*display:inline-block; */
}
.columnaTablaDerecha
{
	float:left; text-align:right; /*display:inline-block; */
}
.columnaTablaBloqueInterno
{
	margin-top:2px; margin-left:10px; border:solid 1px #CDCDCD; padding:10px; float:left; clear:both; margin-left:40px; 
}

.imgCalen
{
	cursor:pointer;
}
.imgCalen img:hover
{
	cursor:pointer;display:none;
}
.cboFiltros
{
	width:100%; font-size:11px; font-family:Arial, Helvetica, sans-serif;
}

.cajaTexto
{
	width:100%; font-size:11px; font-family:Arial, Helvetica, sans-serif;
}

.cajaTextoFecha
{
	width:100%; font-size:11px; font-family:Arial, Helvetica, sans-serif;
}

.separadorMed { clear:both; height:10px; width:100%; clear:both; }


.bloquePestanna { padding-bottom:10px;  clear:both; width:100%; float:left;}
.bloquePestannaTitulo { /*padding-left:20px;*/ padding-top:2px;  font-weight:bold; background-color:silver; float:left;  width:100%; height:20px; clear:both;  }
.bloquePestannaFila { float:left; clear:both; width:98%; margin:10px 0 10px 10px; margin-top:10px; }

.enlEditMapa { float:right;  color:#555; position:relative; top:0px; right:0px; text-decoration:none;  }
.enlEditMapa:hover {    filter: alpha(opacity=70);  opacity: .7;}		
.enlEditMapa img { position:relative; top:5px; }	
/*Fin estilos Mantenimientos*/


.cEmergente { display:inherit; margin:0px; padding:0px;  float:left; }
.MRW { float:left }
.cEmergenteSubida { display:inherit; margin:0px; padding:0px;  float:left; }
.cEmergenteSinRefresco { display:inherit; margin:0px; padding:0px;  float:left; }
.cEmergentePequeno  { display:inherit; margin:0px; padding:0px;  float:left; }
.cEmergenteMediano { display:inherit; margin:0px; padding:0px;  float:left; }

.combo { 	font-size:11px; font-family:Arial, Helvetica, sans-serif; }
.cajaTextoModal { 	 font-size:11px; font-family:Arial, Helvetica, sans-serif; }
.cajaTextoModalFecha { 	 font-size:11px; font-family:Arial, Helvetica, sans-serif; }
.cajaTextoModalHora { 	 font-size:11px; font-family:Arial, Helvetica, sans-serif; }
.textoModal {font-size:11px; font-family:Arial, Helvetica, sans-serif;}


/*nuevos estilos*/
tr.titularT td {
	font-size:13px;
	color:#555;
	background-color: #eee;
}
tr.titular22 td { background:#eee;}
tr.titular2 td { color:#555;}
	tr.titular2 td { border:none; border-bottom:solid 1px #cdcdcd;}
tr.nombre td { background:#000; color:#fff; font-size:14px;}

.naranja{
	color:#ff6600;
}

.titularT {
	background-color: #000;
	font-size: 13px;
	color: #FFF;
}
.celdas {
	background-color: #EEE;
	color: #333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.celdas2 {
	color: #333;
	background-color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.titular2 {
	color: #333;
	background-color: #CDCDCD;
	font-weight: bold;
}.titular {
	font-size: 12px;
	color: #000;
	background-color: #CCC;
}
.lupa {
	float: right;
}




/*para copiar en los estilos generales*/
h1 { color:#ff6600; margin:20px 0 10px 0; padding:0; font-size:16px;}
p { margin:0; padding:5px 0;}
td a { color:#555; text-decoration:none;}
td a:hover { color:#000; text-decoration:none; filter:alpha(opacity=30); opacity:0.3;}


tr.nombre td, tr.nombre th { background:#000; color:#fff; font-size:13px;}

.celdaBlanca td { color:#555; border:none; border-bottom:solid 1px #cdcdcd; background:#fff; font-size:11px;}
.celdaBlanca2 td { color:#555; border:none; background:#fff; font-size:11px;}
.celdaGris td { color:#555; border:none; border-bottom:solid 1px #cdcdcd; background:#f1f1f1;}
.celdaGrisFin td { color:#555; border:none; background:#cdcdcd; font-size:13px;}


.noBorder, .noBorder td { border:none!important;}
.borderAbajo { border-bottom: solid 1px #cdcdcd;}
.cantidad { width:70px;}
.arriba20 td { padding-top:20px;}
.abajo10 td { padding-bottom:10px;}

.grisDerecha:after { display:block; clear:both; content:""; height:1px;}
.grisDerecha { background:#eee; float:left; padding:5px;}

.FiltradoCab, .FiltradoCab2 {float:left; margin:0 10px 20px 0;}
.FiltradoCab div {background:#eee; padding:5px;}
.FiltradoCab2 div { background:#000; padding:5px; color:#fff;}
.FiltradoCab span.cab1 {font-weight:bold; margin:0 0 0 5px;}
.FiltradoCab span.cab2 {margin:0 0 0 10px;}
.FiltradoCab select, .FiltradoCab input,
.grisDerecha select, .grisDerecha input,
.FiltradoCab2 select, .FiltradoCab2 input{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;font-size:11px;}



.boton { background:#ff6600; color:#fff; cursor:pointer; border:none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding:3px 10px;}
.boton:hover { background:#282828; color:#fff; cursor:pointer;}

.tRojo { color:#f00;}

.filtro { font-weight:bold; font-size:14px; padding:5px;}

.DobleListado { margin:0; padding:0; width:60%;}
.DobleListado li { font-weight:bold; font-size:14px; list-style:none; border-bottom:solid 1px #f1f1f1; margin:0 0 20px 0;}
.DobleListado li span { background:#f1f1f1; display:inline-block; width:100%; text-align:left; padding:3px;}
.DobleListado li ul li { font-weight:normal; font-size:12px; list-style:circle; border:none; margin:0 0 5px 0;}

#ganttChart, .TganttChart {width:100%!important; overflow:hidden}
.ganttview-hzheader-month {background:#555; color:#fff;}
.ganttview-vtheader-series-name:hover {background:#f1f1f1;}
.ganttview-vtheader a {color:#555; text-decoration:none;}
.ganttview-vtheader a:hover {color:#555; text-decoration:underline;}
/*.ganttview-slide-container {width:auto!important;}*/
.ganttview-vtheader {width:520px!important; overflow:hidden;}

/*de prueba*/
.ganttview-hzheader-days:after {display:block; clear:both; content:""; height:0px;}
.ganttview-hzheader-days {}
.ganttview-blocks {margin:0!important;}



#cabecera2 {position:relative; z-index:0;color:#fff;}
#cabecera2 span.ruta {position:absolute; top:28px; left:150px; z-index:1; color:#ffffff;}
#cabecera2 span.usuario {position:absolute; top:10px; right:30px; z-index:1;}
#cabecera2 span.HoraConexion {position:absolute; top:25px; right:30px; z-index:1;}
#cabecera2 span.HoraImpresion { display:none;}
#cabecera2 span.cambioContra {position:absolute; top:15px; right:0; z-index:1;}

#cabecera2_comercios{position:relative; z-index:0;color:#fff;}
#cabecera2_comercios span.ruta {position:absolute; top:28px; left:150px; z-index:1; color:#ffffff;}
#cabecera2_comercios span.usuario {position:absolute; top:10px; right:30px; z-index:1;}
#cabecera2_comercios span.HoraConexion {position:absolute; top:25px; right:30px; z-index:1;}
#cabecera2_comercios span.HoraImpresion { display:none;}
#cabecera2_comercios span.cambioContra {position:absolute; top:15px; right:0; z-index:1;}


/*Saludo comercios*/
.saludo_comercios {background:#f6f6f6;width:150px;position:absolute; top:0px; right:45%; padding:1px 15px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;}
.saludo_comercios .nombreComercio {color:#598cff;font-weight:bold;font-size:13px;}

/*vistaregistro.asp*/
.fondoTabla { background:#f1f1f1; border: 1px #C0C0C0 solid}
.izquierda { background:#f1f1f1; padding:3px; font-size:12px; width:200px; font-weight:bold;}
.derecha { padding:3px; font-size:12px;}


/*opciones mn*/
.opcionesMN:after { display:block; clear:both; content:""; height:1px;}
.opcionesMN {margin:15px 0 0 0; text-align:right;}
.opcionesMN span {display:inline-block; background:#f1f1f1; padding:3px; height:25px; margin:0 0 0 5px; float:right;}
.opcionesMN span span {height:auto; font-weight:bold; float:none;}

.opcionesMN span .boton { background:#282828; color:#fff; font-size:11px; cursor:pointer; border:none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding:3px 10px;}
.opcionesMN span .boton:hover { background:#ff6600; color:#fff; cursor:pointer;}

.bloqueMN:after, .separamos:after { display:block; clear:both; content:""; height:1px;}
.bloqueMN {background-color:#f1f1f1; color:#555; border: 1px solid #cdcdcd; padding:5px 5px 25px 5px;}


.tituloCuadro {float:left; width:100%; margin:0px; padding:0px; height:20px; background-color:silver; font-weight:bold; margin-bottom:5px;}
.Contenidocuadro {float:left; width:100%; margin:0px; padding:0px; height:20px; background-color:silver; font-weight:bold; margin-bottom:5px;}

#contenedorSeleccion {clear:both;}

.parteHoras input, .parteHoras a{ font-size:11px;}


/*autocompletar*/
.autocomplete-w1 { background:url(/dmcrm/APP/comun2/imagenes/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete div { padding:2px 5px; overflow:hidden; border-bottom:dotted 2px #cdcdcd;white-space:inherit;}
.autocomplete strong { font-weight:normal; color:#ff6600; }

.pepelera { cursor:pointer;}
.InpRojo { border:solid 2px #f00;}
.InpVerde { border:solid 2px #090;}


/*cambiar contrasena*/
#resultadoCorrecto label { display:inline-block; width:150px; margin:0 0 5px 0; font-weight:bold; text-align:center;}
span.usercontr { display:inline-block; background:#f1f1f1; padding:3px; width:340px; padding:5px; margin:0 0 10px 0; font-size:14px;}
span.usercontr strong { color:#f60;}

/*Columnas maestra*/
.elemCodigoPK { text-align:left; width:60px;}
.elemMemo { max-width:400px;}
.elemDerecha { text-align:right; width:100px;  }
.elemCentrado { text-align:center; width:90px;}
.elemCentradoMed { text-align:center; width:120px;}
.campoNumMaestra { /*float:right; margin-right:5px;*/ }
.campoNumMaestraRojo {  color:red;  }
.dtCentrado { width:100px; } /*Este estilo tambien esta en la css de table.css*/



/*Pantalla Graficos Estadisticas*/
.DatosResumen:after {display:block; clear:both; content:""; height:1px;}
.DatosResumen {background:#f7f7f7; padding:5px; margin:5px 0 0 0; color:#555; border-top: solid 5px #ff6600;}

.descripcionPantalla {float:left; width:75%; text-align:left; padding:15px 20px 0 20px;  }
.resumenNumerico {  color:#ff6600; font-size:16px; font-weight:bold;}

#ulFiltros { float:right; width:15%; text-align:right;  padding-left:30px; padding-right:10px; border-left:dashed 1px gray; }
#ulFiltros li {margin:0; padding:0; list-style:none; padding:3px 0;font-size:12px; }

 .tablaResumen { z-index:1; float:left;position:relative; top:-40px; left:120px; margin:0 10px 0 10px;}
 .tablaResumen th { background-color:#5893D5; color:white;  vertical-align:middle; width:80px; text-align:center; padding:4px; } 
 .tablaResumen th:hover { background-color:#ff6600; cursor:pointer; }  
 .tablaResumen th.tablaResumenCabSel { background-color:#015B9F;  }  
 .tablaResumen td { background-color:#F1F1F1; color:#ff6600; text-align:center; width:80px; font-size:14px; font-weight:bold; }  

 .tablaResumenOtrosCab { background:#E0E0E0!important; color:#555!important; }
 .tablaResumenOtros { background:#E0E0E0!important; color:#555!important; }
 
 .bloqueResumen {float:left; border:solid 1px #CDCDCD; /*min-width:595px;*/  margin:0; padding:0; margin:10px 10px 10px 10px; }
 .bloqueResumen_Peq { /*width:595px;*/ width:47%; height:270px; }
 .bloqueResumen_Grande {/* width:120px;*/ width:96%; height:300px; } 
 .bloqueResumenTitulo {margin:0; padding:5px 0 5px 0; width:100%; border-bottom:solid 3px #ff6600; font-size:14px; color:#555; font-weight:bold; background-color:#F7F7F7; text-transform:uppercase;}
 
 .bloqueResumenGraficos {width:100%; float:left; margin:0; padding:0;}

 .capaGraficoPorcentual {position:relative; top:-50px; left:10;}

.tablaGraficos { }
.tablaGraficos th { text-transform:capitalize;}


 .tablaResumenGeneral { float:left; clear:both; width:100%; margin:30px 0 40px 0; padding:0;}

 .tablaResumenGeneral th { background-color:#5893D5; color:white;  vertical-align:middle; max-width:1px; text-align:center; padding:4px; text-transform:capitalize; } 
 .tablaResumenGeneral th:hover { background-color:#ff6600;  cursor:pointer; }  
 .tablaResumenGeneral th.tablaResumenCabSel { background-color:#015B9F; }  
 .tablaResumenGeneral th.tablaResumenLectura { background-color:#5893D5; cursor:default; }  

 .tablaResumenGeneral tr { background-color:#F1F1F1;}
 .tablaResumenGeneral tr:hover { background-color:#CDCDCD;}
 .tablaResumenGeneral td {  color:#555; text-align:center; font-size:11px;}  
 .tablaResumenGeneral td.tituloCeldaCab { color:#555; text-align:left; text-transform:none; width:100px; font-size:12px; font-weight:bold; }  
 .tablaResumenGeneral td.tituloCeldaCabAgrupacion { color:#555; text-align:left; width:100px; font-size:13px; font-weight:bold; text-transform:uppercase; background-color:#F1F1F1; }  
 
/* .tablaResumenPaginado { float:right;  height:20px; margin:0px 15px 0 0; font-size:12px; margin-right:20px; text-transform:none; text-align:center; vertical-align:middle; background:#F1F1F1;  }*/
/* .enlPagEstadis { text-decoration:none; background:#f1f1f1; font-size:11px;  color:#000; padding:0 3px; cursor:pointer; width:20px!important; }
 .enlPagEstadis:hover { background:#f60; color:#fff;}*/
 .enlPagActivo { width:25px!important; cursor:pointer; background:#F7F7F7!important;  }
 .enlPagActivo:hover { background:#f60!important; color:#fff!important; }

 .enlPagNoActivo { width:25px!important;  background:#F7F7F7!important; color:#CDCDCD!important;  } 
 
 .elemPaginado { background:#F7F7F7!important; font-size:12px!important; font-weight:normal!important; color:#000!important; padding:2px 0 2px 0!important; }


#btnCanjesEnviarPedido {padding:2px 0 0 30px; text-align:left; line-height:1em; font-size:11px; color:#8C8C8D; width:118px; margin:0;}


/*Datos resumen filtros*/
.bloqueCabeceraIzq {float:left; margin:0; padding:0; width:49%; margin-right:1%;}
.bloqueCabeceraDer {float:left; margin:0; padding:0; width:49%;}

.tablaBloqueCabecera {float:left; clear:both;}
.filaTablaDatos {   }
.celdaTablaResumen { min-height:40px; border-bottom:dashed 1px #CDCDCD;  }
.celdaTablaNumerico { min-height:40px; border-bottom:dashed 1px #CDCDCD; color:#FF6600; font-family:Arial; font-size:14px; font-weight:bold; }

.imgFilaBloque {position:relative; top:5px; left:0;}
#sociosEnviarMailsTodos {padding:2px 0 0 30px; text-align:left; line-height:1em; font-size:11px; color:#8C8C8D; width:118px;}


.enlaceVerSocios { font-style:italic; float:right; }

.enlPlantillasEmailImg { float:right; margin-top:-30px; margin-right:20px; text-decoration:none; font-size:12px; font-weight:bold; color:gray; }


/*Pantallas de soretos y actividades*/
.capaDatosPromocion { background:#F1F1F1; border:dashed 1px #CDCDCD; padding:10px; height:auto;  }
.capaDatosPromocion:after { content:''; height:1px; display:block; clear:both; }
.capaDatosPromoIzq { float:left; width:70%; /*border:solid 1px red;*/  }
.capaDatosPromoDer { float:right; width:25%;  /*border:solid 1px red;*/ }			

.titFechaTitulo { font-size:12px; margin-right:5px; margin-right:10px; font-weight:bold;  }
.titFecha { font-size:11px; margin-right:5px; margin-right:10px;  }
.titFechaCont { font-size:11px; font-weight:bold;  }

.titEstadoTitulo { font-size:12px; margin-right:5px; margin-left:10px; font-weight:bold;  }
.titEstado { font-size:12px; margin-right:5px; margin-left:10px;  }
.titEstadoCont { font-size:11px; font-weight:bold;  }

.capaImgBoton { position:relative;  width:70px; height:26px; overflow:hidden; display:inline-block; }


/*Boton aplicar filtro en estadisticas*/
#btnAplicarFiltros {  background-color: #F1F1F1; border: 1px solid #C0C0C0; text-align: center; width: 200px; padding:2px 5px 2px 5px; margin:5px 0 0 30px; cursor:pointer; }
#btnAplicarFiltros:hover { background-color:#C1C1C1;}


.frameGeneral {width:100%; height:0; float:left; margin:0; padding:0;}

/*Estilos de toltip*/
.estilomsgTootlTip{ position: absolute; top: 0; left: 100px; z-index: 3; display: none; background-color:#FFFFFF; border:1px solid #000; padding:5px; text-align:left; width:360px; }


/*Estilos prefisualizacion envio email*/
.tabCorreos {width:100%; padding:0; margin:0; float:left; clear:both; font-size:12px;}	
.tabCorreos th {  background:#5893D5; border-right:solid 1px white; cursor:default;}		
.tabCorreos td { font-weight:inherit; color:#555; padding-left:10px;}			

.capaVerEmail { min-width:500px; min-height:250px; padding:20px; border:dashed 1px #555; position:absolute; right:40px; color:#555;  background-color:#F1F1F1; z-index:2; }
.filaVerCorreo { width:100%; float:left; clear:both; margin-top:10px; }
.colIzqVerCorreo { float:left; width:50px; text-align:right; margin-right:5px; font-weight:bold;}
.colDerVerCorreo { border:dotted 1px #555; float:left; minwidth:400px;  text-align:left; padding:5px 10px 5px 10px; }	


.capaLeyendas {float:right; width:260px;  text-align:right; margin-right:30px; border:dashed 1px #ff6600;}
.capaLeyendasTitulo {border-bottom:dashed 1px #ff6600; width:100%; text-align:left; background:#F1F1F1; padding:5px 0 5px 0;}
.capaLeyendasBloke {width:15px; height:15px;  float:left; border:solid 1px #ccc; margin-left:10px;}
.capaLeyendasFila {width:100%; text-align:left; padding:5px 0 5px 0; border-bottom:solid 1px #ccc;} 	

/*INCIDENCIAS ADMINISTRADOR */
#tituloTicketAdmin { width:95%; background:; color:#6d7578; padding:5px 0; margin-bottom:10px }
.globoIzqAdmin { padding-left:10px; }
.capaIzqAdmin { float:left; clear:both; width:625px; padding:10px;}
.capaTapaIzqAdmin { background-image:url(/DMCrm/Public/imagenes/bocadilloG_izq_SUP.png); background-repeat:no-repeat; height:12px; }
.cuerpoIzqAdmin { background-image:url(/DMCrm/Public/imagenes/bocadilloG_izq_CEN.png); background-repeat:repeat-y; padding-top:0 }
.capaBaseIzqAdmin { background-image:url(/DMCrm/Public/imagenes/bocadilloG_izq_INF.png); background-repeat:no-repeat; height:12px; }
.globoDchaAdmin { padding-right:10px; }
.capaDchaAdmin { float:right; clear:both; width:625px; padding:10px }
.capaTapaDchaAdmin { background-image:url(/DMCrm/Public/imagenes/bocadilloG_der_SUP.png); background-repeat:no-repeat; height:12px; }
.cuerpoDchaAdmin { background-image:url(/DMCrm/Public/imagenes/bocadilloG_der_CEN.png); background-repeat:repeat-y; padding-top:0 }
.capaBaseDchaAdmin { background-image:url(/DMCrm/Public/imagenes/bocadilloG_der_INF.png); background-repeat:no-repeat; height:12px; }
#NumeroTicketAdmin h3{position:absolute;top:0px;left:0;background:#6d7578;color:#fff;padding:5px 10px 5px 5px;width:100px; margin:0; }
#AsuntoTicketAdmin {position:absolute;left:100px;top:0px;width:775px;padding:5px 10px 4px 5px;background:#6d7578;;color:#fff;}
#AsuntoTicketAdmin h3 {border-bottom:1px dotted #666; margin:0; padding:0}
#fechaTicketAdmin {position:absolute;top:0;right:10px;background:#6d7578;color:#fff;float:left;width:100px; padding:5px 10px 5px 5px}
#tituloTicketAdmin:after {clear:both;display:block;content:"";}
#frmIncidenciaAdmin {width:520x;float:left;margin-top:39px;}
#descripIncidenciaAdmin {width:500px!important;margin:0px;padding:0px;}
#ResAdmin {position:absolute;right:30px;top:45px;text-align:right;}
#estadoTicketAdmin {position:absolute;right:30px;top:90px;background:#f4f3f1;color:#6d7578; -webkit-border-radius: 5px; border-radius: 5px;text-align:center;width:115px;height:20px;font-size:11px;padding:3px 0px;}
#estadoTicketAdmin:hover {background:#e2ddd1;color:#6d7578;}
#AsuntoTicketAdmin h3 {border-bottom:1px dotted #666;}
#mensajeOKAdmin {text-align:right;font-size:10px;}
.capaIzqAdmin .mensajeInAdmin {float:left;width:460px;margin-left:150px;}
.capaDchaAdmin .mensajeInAdmin {float:left;width:460px;}
.datosIzqAdmin {float:left;width:120px;font-weight:bold;border-right:1px solid #dedede;margin-top:-70px;padding:0px 10px 10px 3px;color:#525252}
.datosIzqAdmin:after,.mensajeInAdmin:after {clear:both;display:block;content:"";}
.fotoUserAdmin {display:block;width:50px;background:#f9f9f9;height:50px;text-align:center;margin-left:70px;margin-bottom:10px;margin-top:10px}
.capaIzqAdmin .autorInAdmin {display:block;font-weight:bold;color:#525252;margin-top:5px;}
.capaDchaAdmin .autorInAdmin {display:block;font-weight:bold;color:#525252;margin-top:5px;}
.cuerpoDchaAdmin .fechaInAdmin {font-size:13px;display:block;margin-top:0px;color:#666;width:260px;}
.cuerpoIzqAdmin .fechaInAdmin {font-size:13px;display:block;margin-top:0px;color:#666;width:260px;margin-left:155px;}
.globoIzqAdmin img,.globoDchaAdmin img {max-width:50px;max-height:50px;margin-top:3px;}
.mensajeInAdmin {float:left;width:280px;}
.datosDchaAdmin {float:right;width:120px;border-left:1px solid #dedede;margin-top:-75px;padding:0px 3px 10px 10px;text-align:right;color:#525252}
.fotoAdminAdmin {display:block;width:50px;background:#f9f9f9;height:50px;text-align:center;margin-top:10px;}
#enviarIncidenciaAdmin { float:right }
#chatAdminAdmin { width:830px }
/*FIN INCIDENCIAS ADMINISTRADOR*/


/*Estilo de mapas*/
.mapaGoogle {width:90%; margin-left:5%!important; height:200px; margin:0; border: 1px solid #777; }
.editarMapaGoogle {width:100%; height:300px; margin:0;  }



/*Estilos para los bloques de imagenes y archivos de la edicion de maestra*/
		.agrupacionEtiquetas{  display:inline; clear:both; float:left;  white-space:nowrap; }
		.cadaEtiqueta { margin-left:10px; font-weight:bold;}
		.cadaContenido { margin-right:10px;}
		.listadico { list-style:none; margin:0 0 0 0; padding:0;  }
		.listadico li { display:inline-block;  background:#f1f1f1; margin:0 5px 5px 0 ; padding:5px; width:auto; float:left; min-height:18px; vertical-align:top; }
		
		.listadicoOcultos { list-style:none; margin:0 0 0 0; padding:0; }
		.listadicoOcultos li { display:inline-block;  background:#FFE8D7; margin:0 5px 5px 0 ; padding:5px; width:auto; float:left;  min-height:18px; vertical-align:top;  }		
		
		.enlaceAdjuntoElem { color:#555; margin:0; padding:0; text-decoration:none;}
		.enlaceAdjuntoElem:hover { filter: alpha(opacity=70);  opacity: .7; }

		.cEmergenteFoto:hover {    filter: alpha(opacity=70);  opacity: .7;}
		
		.enlaceBorrar { float:right;  color:#555; position:relative; top:0px; right:0px; text-decoration:none;  }
		.enlaceBorrar:hover {    filter: alpha(opacity=70);  opacity: .7;}		
		
		.enlaceBorrarMapa { float:right;  color:#555; position:relative; top:0px; right:0px; text-decoration:none;  }
		.enlaceBorrarMapa:hover {    filter: alpha(opacity=70);  opacity: .7;}				
		
		.bloqueAdjuntos { width:18%; float:right; margin-right:1%; }
		.bloqueAdjuntosTitulo {background-color:#C0C0C0; width:100%; height:20px; font-weight:bold; float:left;}
		
		.listaAdjuntoElem { list-style:none;  float:left; width:100%; padding:0; margin:0;   }
		.listaAdjuntoElem li { text-align:center; margin-top:5px; float:left; clear:both; width:100%; border-bottom:dashed 1px #555; padding-bottom:10px; }		
		.listaAdjuntoElem li.listaAdjuntoElemTitulo { text-align:left; margin-top:10px; float:left; clear:both; border-bottom:none; padding-bottom:0; /*border-top:dashed 1px #555;*/}	

		.bloqueMapaOculto { display:none; }


