@charset "utf-8";
/* CSS Document */



body{margin:0;padding:0;font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;font-size:11px; position:static !important; overflow:visible !important; float:none !important; }

#capaMenu {display:none;}

.ruta, .usuario, .HoraConexion {display:none;}
.HoraImpresion { display:block!important; border-bottom:solid 1px #cdcdcd; text-align:right; color:#979797}
.cambioContra { display:none;}

h1 {font-size:18px; border-bottom:solid 2px #ff6600; color:#ff6600;}

.titular, .titular2, td{ border-left:solid 1px #cdcdcd; border-bottom:solid 1px #cdcdcd;}
.nombre td, .nombre th, .titularT, #cabeceraTabla th, #pieTabla th { border:none; border-bottom:solid 2px #000; border-left:solid 1px #cdcdcd; font-size:13px; font-weight:bold; background:#f1f1f1;}
.titular, .titular2 {border-bottom:solid 2px #000; font-size:12px; font-weight:bold;}

/*table_grid*/
#tablaContenido_filter, #tablaContenido_length, #capaOpciones { display:none;}


/*filtrados*/
.FiltradoCab:after { display:block; clear:both; content:"";}
.FiltradoCab { border:solid 1px #cdcdcd; padding:5px 15px; float:left;}
.FiltradoCab br { display:none;}
.FiltradoCab span, .FiltradoCab div, .FiltradoCab select, .FiltradoCab input { float:left; margin:0 10px 0 0; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.FiltradoCab span { font-weight:bold; display:inline-block;}
.boton { display:none;}

/*listas*/
.DobleListado { margin:0; padding:0; width:60%;}
.DobleListado li { font-weight:bold; font-size:14px; list-style:none; border-bottom:solid 1px #f1f1f1; margin:0 0 20px 0;}
.DobleListado li span { background:#f1f1f1; display:inline-block; width:100%; text-align:left; padding:3px;}
.DobleListado li ul li { font-weight:normal; font-size:12px; list-style:circle; border:none; margin:0 0 5px 0;}


#ganttChart, .TganttChart {width:100%!important; overflow:hidden}
.ganttview-hzheader-month {background:#555; color:#fff;}
.ganttview-vtheader-series-name:hover {background:#f1f1f1;}
.ganttview-vtheader a {color:#555; text-decoration:none;}
.ganttview-vtheader a:hover {color:#555; text-decoration:underline;}
/*.ganttview-slide-container {width:auto!important;}*/
.ganttview-vtheader {width:520px!important; overflow:hidden;}

/*de prueba*/
.ganttview-hzheader-days:after {display:block; clear:both; content:""; height:0px;}
.ganttview-hzheader-days {}
.ganttview-blocks {margin:0!important;}





/*
jQuery.ganttView v.0.7
Copyright (c) 2010 JC Grubbs - jc.grubbs@devmynd.com
MIT License Applies
*/

div.ganttview-hzheader-month,
div.ganttview-hzheader-day,
div.ganttview-vtheader,
div.ganttview-vtheader-item-name,
div.ganttview-vtheader-series,
div.ganttview-grid,
div.ganttview-grid-row-cell {
	float: left;
}

div.ganttview-hzheader-month,
div.ganttview-hzheader-day {
	text-align: center;
}

div.ganttview-grid-row-cell.last,
div.ganttview-hzheader-day.last,
div.ganttview-hzheader-month.last {
	border-right: none;
}

div.ganttview {
	border: 1px solid #999;
}


/* Horizontal Header */

div.ganttview-hzheader-month {
	width: 60px;
	height: 20px;
	border-right: 1px solid #d0d0d0;
	line-height: 20px;
}

div.ganttview-hzheader-day {
	width: 20px;
	height: 20px;
	border-right: 1px solid #f0f0f0;
	border-top: 1px solid #d0d0d0;
	line-height: 20px;
	color: #777;
}


/* Vertical Header */

div.ganttview-vtheader {
	margin-top: 41px;
	width: 520px;
	font-size:10px;
	overflow: hidden;
}

div.ganttview-vtheader-item {
	overflow: hidden;
}

div.ganttview-vtheader-item-name {
	width: 0px;
	padding-left: 5px;
	border-top: 1px solid #d0d0d0;
	line-height: 21px;
	font-weight:bold;
}

div.ganttview-vtheader-series-name {
	width: 510px;
	height: 21px;
	border-top: 1px solid #d0d0d0;
	line-height: 21px;
	padding-left: 5px;
}


/* Slider */

div.ganttview-slide-container {
	overflow: auto;
	border-left: 1px solid #999;
}


/* Grid */

div.ganttview-grid-row-cell {
	width: 20px;
	height: 21px;
	border-right: 1px solid #f0f0f0;
	border-top: 1px solid #f0f0f0;
}

div.ganttview-grid-row-cell.ganttview-weekend {
	background-color: #fafafa;
}
 

/* Blocks */

div.ganttview-blocks {
	margin-top: 40px;
}

div.ganttview-block-container {
	height: 18px;
	padding-top: 4px;
}

div.ganttview-block {
	position: relative;
	height: 15px;
	background-color: #E5ECF9;
	border: 1px solid #c0c0c0;
	/*border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;*/
}

div.ganttview-block-text {
	position: absolute;
	height: 12px;
	font-size: 0.8em;
	color: #999;
	padding: 2px 3px;
}

