@charset "utf-8";
/* CSS Document */

.cabeceraEmail{
	width:99%; 
	background-color:#5893D5; 
	color:#FFF; 
	font-size:1.6em; 
	font-weight:bold;
}

.cabeceraEmail2{
	width:97%;
	border:1px solid #dedede;
	background:#fafafa;
	color:#000;
	margin:.7em;
	-webkit-border-radius: 1em;
    border-radius: 1em;
	padding:0.5em;
	border-bottom:medium solid #5893D5;
}

#anadirEntrada span{display:block;}

.cabeceraEmail2 span {
	display:block;
	margin-right:3em;
	float:left;
}

#responsable{
	position:absolute;
	top:1em;
	right:2em;
}

#botonesResponder{
	position:absolute;
	top: 10em;
	right:2em;
}

#notaSeguimiento{
	position:relative;
}

.otraDiferente {	width:30%;
	border:1px solid #dedede;
	background:#fafafa;
	color:#000;
	margin:.7em;
	-webkit-border-radius: 1em;
    border-radius: 1em;
	padding:0.5em;
	border-bottom:medium solid #5893D5;}

.reply{
	float:left; 
	width:7em; 
	height:100px;
}

.reply2{
	float:left; 
	width:7em;
}

.reply2 .max5em {margin-top:45%;padding:.5em;}

.reply3{
	float:left; 
	background-color:#5893D5; 
	padding:0.5em;
	-webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

.reply3 a{
	color:#FFF; 
	text-decoration:none;
}

.reply3:hover {
	background:#ff6600;
	color:#fff;
}

.replyall{
	float:left; 
	margin-left:5px; 
	background-color:#5893D5; 
	padding:0.5em;
	-webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

.replyall a{
	color:#FFF; 
	text-decoration:none;
}

.replyall:hover {
	background:#ff6600;
	color:#fff;
}


.max5m{
	width:5em;
}

.contenidoEmail{
	float:left; 
	width:700px;
}

.max700pxfloat{
	float:left; 
	width:700px;
}

.max500pxfloat{
	float:left; 
	width:500px;
}

.max500px{
	width:500px;
}

.max600pxfloat{
	float:left; 
	width:600px;
}

.max600px{
	width:600px;
}

.max30px{
	width:30px; 
	float:left;
}

.clear{
	clear:both;
}

.asuntoSeguimiento{
	width:98.5%; 
	padding:0.5em 0.5em; 
	background-color:#fafafa;
	font-size:1.1em;
	border-bottom:1px solid #dedede;
	margin:1em 0 0 0;
}

#mensaje{
	width:99%;
	max-width:500px;
	height:200px;
}

#centrarAsignarUsuario{
	width:100%; 
	text-align:center; 
	padding-top:5em;
}

.floatleft{
	float:left;
}

.floatleftmargin{
	float:left;
	margin-left:1em;
}

.clearEmails{
	clear:both; 
	height:5px;
	width:100%;
}

.contenidoCentrado{
	text-align:center;
}

.anadirEntrada{
	float:left;
	margin-left:1em;
}

.anadirEntrada 

.max2em{
	width:2em;
}

.max3em{
	width:3em;
}

.max5em{
	width:5em;
}

.max3-5em{
	width:3em;
}

.max2-2em{
	width:2.2em;
}

.volver{
	float:left; 
	width:7em;
}

#datosCliente{
	padding-left:1em;
	float:left;
}

#formAnalista{
	float:right;
	margin-right:1em;
}

#botonTratarEmail {
	float:left;
	cursor:pointer; 
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif; 
	font-size:1em; 
	border:none; 
	background-color:#5893D5; 
	padding:0.3em; 
	color:#fff; 
	text-decoration:none;
	-webkit-border-radius: 0.5em;
    border-radius: 0.5em;
	margin:1em 1.2em;
}

#botonCancelarEmail {
	float:left;
	cursor:pointer; 
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif; 
	font-size:1em; 
	border:none; 
	background-color:#5893D5; 
	padding:0.3em; 
	color:#fff; 
	text-decoration:none;
	-webkit-border-radius: 0.5em;
    border-radius: 0.5em;
	margin:1em 1.2em;
}

#anadirEntrada .boton {	float:left;
	cursor:pointer; 
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif; 
	font-size:1em; 
	border:none; 
	background-color:#5893D5; 
	padding:0.3em; 
	color:#fff; 
	text-decoration:none;
	-webkit-border-radius: 0.5em;
    border-radius: 0.5em;
	margin:1em 1.2em;}
#anadirEntrada .boton:hover {background:#ff6600;color:#fff;}

#botonAsignarAnalista{
	cursor:pointer; 
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif; 
	font-size:1em; 
	border:none; 
	background-color:#5893D5; 
	padding:0.3em; 
	color:#fff; 
	text-decoration:none;
	-webkit-border-radius: 0.5em;
    border-radius: 0.5em;
	float:left;
	margin:1em 1.2em;
}

#botonAsignarAnalista:hover,#botonTratarEmail:hover,#botonCancelarEmail:hover{
	cursor:pointer; 
	background-color:#ff6600; 
	color:#fff; 
	text-decoration:none;
	-webkit-border-radius: 0.5em;
    border-radius: 0.5em;
} 

#botonAsignarAnalista:after,#botonTratarEmail:after,#botonCancelarEmail:after
{clear:both;display:block;content:"";}

#botonesSeguimiento{
	float:right;
}

.contenidoEmailTodo {border:1px solid #dedede;margin:.5%}

.contenidoEmailMin{
	width:98%;
	float:left;
/*	margin-left:0.5%;*/
	/*border:1px solid #dedede;*/
	padding:1em;
	border:none;
}

#formNota p:first-child {float:left;margin-right:1em;}
#formNota p {clear:both;display:block;content:"";}

#formNota {float:right;width:100%; }

#iframeMensaje {width:99.5%;height:250px;border:none;margin-top:-1em;margin:bottom:0;}

#notaEmail{
	width:95%;
	/*margin-right:1em;*/
	/*float:right;*/
	background:#fafafa;
	border:1px solid #dedede;
	border-top:none;border-right:none;
	padding: 0 2% 0 2%;
}

#notaEmail:after {clear:both;display:block;content:"";}
.contenidoEmailTodo:after {clear:both;display:block;content:"";}
.botonNotaMail{
	cursor:pointer; 
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif; 
	font-size:1em; 
	border:none; 
	background-color:#5893D5; 
	padding:0.5em; 
	color:#FFF; 
	text-decoration:none;
	-webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

.botonNotaMail:hover {
	background:#ff6600;
	color:#fff;
}

.notaTexto{
	width:100%; 
	height:4em;;
}

.salida {
	border:1px solid #dedede;;
	margin:1em 0 1em 1em;
	padding:0.5em;
	width:95%;
	float:left;
}

.entradaCapa1{
	float:left;
	width:50px;
}

.entradaCapa2{
	float:left;
	width:750px;
}

.entradaSubcapa1{
	float:left;
	width:530px;
	margin-right:0.5em;
}

.entradaSubcapa2{
	float:left;
	width:195px;
	min-height:100px;
	border-left:1px solid #DDDDDD;
	margin:0 1px;
	padding:.5em;
}

.entradaTitulo{
	background-color:#dedede;
	padding:.3em;
	margin-bottom:1em;
	color:#525252;
	font-size:1em;
}

.entrada{
	border:1px solid #dedede;;
	margin:1em 1em 1em 0;
	padding:0.5em;
	width:95%;
	float:right;
}



.listadoHistorial{
	padding:0.1em;
	margin:0;
	displaye:inline;
	background:#fafafa;

}

.listadoHistorial li{
	margin-left:3em;
	float:left;
}

.listadoHistorial li:after,.listadoHistorial:after{clear:both;display:block;content:"";}

.listadoHistorial a {color:#5893D5;text-decoration:none;}

.listaAdjuntos{
	border:1px solid #dedede; 
	background:#fafafa;
	width:98.5%; 
	padding:.5em 0 .5em 0; 
	margin:0.2%;
}

.listaAdjuntos li{
	margin-left:1em;
float:left;display:block;padding:0.5em;
background:#fff;
}


.listaAdjuntos:after {clear:both;display:block;content:"";}
.listaAdjuntos li a {text-decoration:none;color:#5893D5;}
.listaAdjuntos li a:hover {color:#333;}
#adjuntosSeguimiento .adjunto{display:block;margin-left:4.5%;}

.volverSeguimiento {	
	cursor:pointer; 
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif; 
	font-size:1em; 
	border:none; 
	background-color:#5893D5; 
	padding:0.5em; 
	margin:1em .1em;
	color:#FFF; 
	text-decoration:none;
	-webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

.volverSeguimiento:hover {
	background:#ff6600;
	color:#fff;
}

#tituloTicketAdmin h3 {	
background:#5893D5;color:#fff;padding:0.2em;font-weight:nomal;margin:0;font-size:1.3em; width:99%;
}
#tituloTicketAdmin h2 {
background:#fafafa;margin:0;padding:0; font-size:1.2em;	
}
	
.deSeguimiento a,.cabeceraSeguimiento a {text-decoration:none;color:#000;}
.deSeguimiento a:hover,.cabeceraSeguimiento a:hover {text-decoration:none;color:#5893D5;}

#fadein {background:#fafafa;padding:.5em;border: thin solid #dedede;width:98%;margin-left:.4%;}

#busquedaClientes {margin:1em;}
#busquedaClientes #botonCliente{	cursor:pointer; 
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif; 
	font-size:1em; 
	border:none; 
	background-color:#5893D5; 
	padding:0.2em; 
	margin:1em .1em;
	color:#FFF; 
	text-decoration:none;
	-webkit-border-radius: 0.5em;
    border-radius: 0.5em;}

#busquedaClientes #botonCliente:hover{	cursor:pointer; 
	background-color:#ff6600; }

#tablaClientes {width:99%;border-collapse:collapse;}
#tablaClientes th{border-bottom:medium solid orange;}
#tablaClientes td {border-bottom:thin solid #dedede;}

.capaIzq {float:left;position:absolute;left:0;width:26px;height:23px;margin:0.5em -0.9em 1em 1em;padding:0.5em;/*background:url(/dmcrm/APP/Sistema/Comunicaciones/img/fondoizq.png) top left no-repeat;z-index:1;*/z-index:1;background:#fff;}
.salida {	-webkit-border-radius:0 1em 1em 1em;
    border-radius:0 1em 1em 1em;margin-left:4.6em;}

.entrada {	-webkit-border-radius:1em 0 1em 1em;
    border-radius:1em 0 1em 1em;float:right;margin-right:2.3em}

.capaDer {width:25px;height:23px;margin:0.5em -0.3em 1em 1em;padding:0.5em;/*background:url(/dmcrm/APP/Sistema/Comunicaciones/img/fondoizq.png) top left no-repeat;z-index:1;*/ position:absolute; right:0; }

#nombreCliente{
	width:15em!important;
}

#tablaContenido_paginate span, .dataTables_paginate, .paging_full_numbers{
	width:100%;
}