table img{border: none;}
.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

/*combo de numero de registros*/
.dataTables_length {
	width: 180px;
	text-align: right;
	background-color:#F0F0F0;
	color: #787878;
	float:right;
	padding:6px 15px 7px 15px;
	margin:0 18px 5px 0;
	
}

/*buscador de datos*/
.dataTables_filter {
	width: 200px;
	float: right;
	text-align: right;
	background:#f0f0f0;
	margin:0 3px 5px 0;
	padding:5px 15px 5px 15px;
}

.dataTables_info {
	width: 50%;
	float: left;
	padding:5px;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	margin:0 15px 0 0;
	text-align: right;
}
.dataTables_length, 
.dataTables_filter, 
.dataTables_info,
.dataTables_paginate{font-size:13px; font-family:Arial, Helvetica, sans-serif; color:#555; }

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}


/*
.paginate_disabled_previous {
	background-image: url('/js/jtables/images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('/js/jtables/images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('/js/jtables/images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('/js/jtables/images/forward_enabled.jpg');
}*/



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	width: 100%;
	clear: both;
	/*border-left: 1px solid #D3DBDA;
	border-right: 1px solid #D3DBDA;*/
}

table thead th {
	padding: 3px 18px 3px 10px;
	background:#5893D5; cursor:default; /*Columna sin ordenamiento*/
	height:25px;
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
	color:#fff;
}

table tfoot th {
	padding: 3px 5px 3px 5px;
	cursor:default; /*Columna sin ordenamiento*/
	height:20px;
	font-weight: bold;
	text-align:right; 
}

/*table.display tfoot th {
	padding: 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display th.primero {
	border-right: none;
}*/

table.display th.opciones {
	border-left: none;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
	 border-right: 1px solid white;
}

table td {
	padding: 3px 5px;
	/*border-bottom: 1px solid #D3DBDA;
	border-right: 1px solid #D3DBDA;*/
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: #015B9F url('/dmcrm/js/jtables/images/sort_asc.png') no-repeat center right;
	color:#fff;
}

.sorting_desc {
	background:#015B9F url('/dmcrm/js/jtables/images/sort_desc.png') no-repeat center right;
	color:#fff;
}

.sorting {
	background:#5893d5 url('/dmcrm/js/jtables/images/sort_both.png') no-repeat center right;
	color:#fff;
}

.sorting_asc_disabled {
	background: url('/dmcrm/js/jtables/images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('/dmcrm/js/jtables/images/sort_desc_disabled.png') no-repeat center right;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
tr.odd {
	background-color: #f6f6f6;
}

tr.even {
	background-color: #ffffff;
}

tr.odd .tdOpciones{background-color: #f6f6f6!important;}
tr.even .tdOpciones{background-color: #ffffff!important;}


tbody tr.odd:hover, tbody tr.even:hover{background-color: #EEFFDB!important;}

.thOpciones, .tdOpciones{text-align:center};
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty, .centrado, .dtCentrado{
	text-align: center;
}


tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 700px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #f7f7f7;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #dddddd;
}

.paging_full_numbers span.paginate_active {
	background-color: #015B9F;
	color:#FFF;
}

table tr.even.row_selected td {
	background-color: #FFE0CC;
}

table tr.odd.row_selected td {
	background-color: #FFE0CC;
}
table.KeyTable td {
	border: 3px solid transparent;
}

table.display tr {
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}



/*cambios dmcorporative*/
#capaFiltro {
	width: 200px;
	text-align: right;
	background:#f0f0f0;
	margin:0 3px 5px 0;
	padding:6px 15px 7px 15px;
	position:absolute; top:40px; right:481px; z-index:5;
}
select#filtro { 
	float:left; 
	font-size:11px; 
	margin:0 5px 0 0;
}

/*comenzamos la tabla*/
#tablaContenido {clear:both; font-family:Arial, Helvetica, sans-serif; font-size:11px;}

form#gestionPedidos { position:relative; z-index:1;}