/*

	FancyBox playground - just playing
	v.1.3.0 - RC2 02.01.10

*/
#fancybox-loading {
	position: fixed;
	height: 40px;
	width: 40px;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	display: none;
	overflow: hidden;
	background: transparent;
	z-index: 200;
}

* html #fancybox-loading {  /* for IE6 */
	position: absolute;
	margin-top: 0;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background: transparent url('img/fancy_progress.png') no-repeat;
}

#fancybox-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	display: none;
	z-index: 80;
}

* html #fancybox-overlay { /* for IE6 */
     position: absolute;
     width: 100%;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	margin: 0;
	z-index: 90;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #FFF;
}

#fancybox-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	outline: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	height: 30px;
	width: 30px;
	background: url('img/fancy_close.png') top left no-repeat;
	cursor: pointer;
	z-index: 165;
	display: none;
}

#fancybox-content {
	height: auto;
	width: auto;
	padding: 0;
	margin: 0;
}

#fancybox-img {
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	-ms-interpolation-mode: bicubic;
	outline: none;
	line-height: 0;
	font-size: 0;
	vertical-align: top;
}

#fancybox-frame {
	position: relative;
	width: 100%;
	height: 100%;
}

#fancybox-tmp {
	display: none;
	padding: 0;
	margin: 0;
	border: 0;
	vertical-align: top;
	overflow: auto;
}

#fancybox-title {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	z-index: 112;
}

.fancybox-title-inside {
    padding: 10px 0;
	padding-top: 10px;
	color: #333;
}

.fancybox-title-outside {
    padding-top: 10px;
    color: #FFF;
    font-weight: bold;
}

#fancybox-title-wrap {
    display: inline-block;
}

#fancybox-title-wrap span {
	height: 32px;
	float: left;
}

#fancybox-title-left {
	padding-left: 15px;
	background: transparent url('img/fancy_title_left.png') repeat-x;
}

#fancybox-title-main {
	line-height: 29px;
	background: transparent url('img/fancy_title_main.png') repeat-x;
	color: #FFF;
}

#fancybox-title-right {
	padding-left: 15px;
	background: transparent url('img/fancy_title_right.png') repeat-x;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	z-index: 111;
	display: none;
 	background-image: url("data:image/gif;base64,AAAA");
	outline: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	z-index: 112;
	cursor: pointer;
	display: block;
}

#fancybox-left-ico {
	left: -9999px;
	background: transparent url('img/fancy_nav_left.png') no-repeat;
}

#fancybox-right-ico {
	left: -9999px;
	background: transparent url('img/fancy_nav_right.png') no-repeat;
}

#fancybox-left:hover {
	visibility: visible;
}

#fancybox-right:hover {
	visibility: visible;
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

div.fancy-bg {
	position: absolute;
	z-index: 70;
	border: 0;
	padding: 0;
	margin: 0;
}

div#fancy-bg-n {
	top: -20px;
	width: 100%;
	height: 20px;
	background: transparent url('img/fancy_shadow_n.png') repeat-x;
}

div#fancy-bg-ne {
	top: -20px;
	right: -20px;
	width: 20px;
	height: 20px;
	background: transparent url('img/fancy_shadow_ne.png') no-repeat;
}

div#fancy-bg-e {
	right: -20px;
	height: 100%;
	width: 20px;
	background: transparent url('img/fancy_shadow_e.png') repeat-y;
}

div#fancy-bg-se {
	bottom: -20px;
	right: -20px;
	width: 20px;
	height: 20px;
	background: transparent url('img/fancy_shadow_se.png') no-repeat;
}

div#fancy-bg-s {
	bottom: -20px;
	width: 100%;
	height: 20px;
	background: transparent url('img/fancy_shadow_s.png') repeat-x;
}

div#fancy-bg-sw {
	bottom: -20px;
	left: -20px;
	width: 20px;
	height: 20px;
	background: transparent url('img/fancy_shadow_sw.png') no-repeat;
}

div#fancy-bg-w {
	left: -20px;
	height: 100%;
	width: 20px;
	background: transparent url('img/fancy_shadow_w.png') repeat-y;
}

div#fancy-bg-nw {
	top: -20px;
	left: -20px;
	width: 20px;
	height: 20px;
	background: transparent url('img/fancy_shadow_nw.png') no-repeat;
}